.footer
    background-color: #0C0C0E
    padding: 20px 20px 0px 20px
    &-top
        display: flex
        justify-content: space-between
        height: 120px
    &-left
        margin-left: 0
        &__adress
            display: block
            text-decoration: none
            color: #FFF
            font-family: Inter
            font-size: 15px
            font-style: normal
            font-weight: 400
            line-height: 20px
            margin-bottom: 18px
            &:hover
                color: #BB945F
                transition: color 0.7s linear
        &__icon
            width: 24px
            height: 24px
            margin-right: 11px
            &-link img
                transition: transform 0.6s ease
            &-link:hover
                opacity: 0.5
                transition: opacity 0.6s linear
            &-link:hover img
                transform: scale(1.2)
            &-ul li
                display: inline-block
    &-right
        margin-right: 0
        &__schedule
            display: block
            color: #FFF
            text-align: right
            font-family: Inter
            font-size: 15px
            font-style: normal
            font-weight: 400
            line-height: 20px
            margin-bottom: 10px
    &-hr
        width: 1400px
        height: 1px
        background-color: #fff
        border: none
    &-bot
        display: flex
        align-items: center
        justify-content: space-between
        height: 110px
        &__year
            margin-left: 0
            margin-right: 494px
            color: #FFF
            text-align: center
            font-family: Inter
            font-size: 20px
            font-style: normal
            font-weight: 400
            line-height: 20px
            letter-spacing: 2px
        &__rs
            margin: 0
            text-decoration: none
            color: #FFF
            text-align: center
            font-family: Inter
            font-size: 20px
            font-style: normal
            font-weight: 400
            line-height: 20px
            letter-spacing: 2px
            &:hover
                color: #BB945F
                transition: color 0.7s linear
        &__username
            margin-right: 0
            text-decoration: none
            color: #FFF
            text-align: center
            font-family: Inter
            font-size: 20px
            font-style: normal
            font-weight: 400
            line-height: 40px
            letter-spacing: 2px
            &:hover
                color: #BB945F
                transition: color 0.7s linear
