@media (max-width: 1439px)
    .slider
        &-wrapper
            &__image2
                margin-right: 0
            &__image3
                display: none !important
        &-pagination
            &__button3
                display: none
