@media (max-width: 1439px)
    .slider
        &-wrapper
            &__image2
                margin-right: 0
            &__image3
                display: none !important
        &-pagination
            &__button3
                display: none
    .favorites
        &-winter
            align-items: center
            flex-direction: column
            justify-content: space-between
        &-book1
            margin-right: 0
        &-book2
            margin-right: 0
        &-book3
            margin-right: 0
            margin-bottom: 40px
        &-book4
            margin-right: 0
    .contacts
        &-wrapper
            flex-direction: column
        &-left
            margin-bottom: 20px
    .checkcard-getcard
        &__wrapper
            flex-direction: column
    .librarycard
        &-checkcard
            &__wrapper
                margin-bottom: 20px
    .footer
        &-bot
            &__year
                margin-right: auto
            &__rs
                margin: auto
