* {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  font-family: "Mulish", sans-serif;
  font-family: "Nunito", sans-serif;
  height: 100%;
  margin: 0;
}

.container {
  max-width: 1110px;
  margin: auto;
}

img {
  max-width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.player {
  flex-grow: 1;
  background-color: #eff7d6;
  display: flex;
  justify-content: center;
  align-items: center;
}
.player-wrapper {
  background: linear-gradient(#7c7f9b, #b1b39a);
  width: 500px;
  height: 771px;
  padding: 40px;
}
.player-icon {
  width: 40px;
  height: 40px;
}

.song-cover {
  width: 270px;
  height: 270px;
}

.cover {
  display: flex;
  justify-content: center;
  margin: 85px 0;
}
.cover .song-cover.active {
  animation: rotateAnimation 20s linear infinite;
}

.title {
  font-weight: 500;
  font-size: 20px;
  line-height: 22px;
  color: #eaf069;
  text-align: center;
}

.song {
  font-weight: 500;
  font-size: 20px;
  line-height: 22px;
  color: #eaf069;
  text-align: center;
}

.progress-wrapper {
  position: relative;
  margin: auto;
  background: #f2f6f1;
  width: 60%;
  height: 6px;
  margin-top: 75px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.progress {
  background: linear-gradient(to right, #7c7f9b, #28202c);
  height: 6px;
}
.progress-slider {
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
  width: 100%;
  outline: none;
  background: transparent;
  cursor: pointer;
}
.progress-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  width: 17px;
  height: 17px;
  background: #28232b;
  border: none;
  transform: rotate(45deg);
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
}

.btn {
  cursor: pointer;
}

.footer {
  background: linear-gradient(#403b4a, #e7e9bb);
}
.footer-menu {
  list-style-type: none;
  margin: 0;
  padding: 30px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #c2dee8;
}
.footer-menu__git {
  width: 80px;
  height: 20%;
}
.footer-menu__rs {
  width: 80px;
  height: 20%;
}

.time {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-left: 10%;
}

@keyframes rotateAnimation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}